/node_modules
/vendor
/.env
/.venv
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/debugbar/*
.DS_Store
Thumbs.db
public/hot
public/build

/.backup/
/check-encoding.ps1
/nexo-chrome/
/paletas.txt
.phpunit.result.cache
